# DS Course 9 Wk 3 PA - Segment and Cluster AT

In [1]:
#Libraries for the program
import pandas as pd
import numpy as np

## Read wikipedia data table to a dataframe

In [2]:
dfs=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
CAN_neigh=dfs[0]
CAN_neigh.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Three Key Steps are completed below: 
1. Remove rows with "Not Assiged" boroughs
2. Assign borough name to neighborhood name, if its "Not Assinged"
3. Consolidate rows with same PostCode and Borough

In [6]:
pd.options.mode.chained_assignment = None  # default='warn'
CAN_neigh = CAN_neigh[CAN_neigh.Borough != "Not assigned"]
CAN_neigh['Neighbourhood']= np.where(CAN_neigh['Neighbourhood'] == "Not assigned",CAN_neigh['Borough'], CAN_neigh['Neighbourhood'])
CAN_neigh['Neighbourhood']= CAN_neigh[['Postcode','Borough','Neighbourhood']].groupby(['Postcode','Borough'])['Neighbourhood'].transform(lambda x: ', '.join(x))
CAN_neigh_final=CAN_neigh[['Postcode','Borough','Neighbourhood']].drop_duplicates()
CAN_neigh_final.rename(columns={'Postcode':'Postalcode','Neighbourhood':'Neighborhood'},inplace=True)

In [7]:
CAN_neigh_final.head()

,Postalcode,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Harbourfront, Regent Park, Harbourfront, Regen..."
6,M6A,North York,"Lawrence Heights, Lawrence Manor, Lawrence Hei..."
8,M7A,Queen's Park,Queen's Park

In [5]:
CAN_neigh_final.shape

(103, 3)